<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MemeMe v 1.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38FAA6FE1D36E72A0097B5D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38FAA7121D36E72B0097B5D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38FAA71D1D36E72B0097B5D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
